<%- include('partials/header') %>

<div class="container mt-5">

  <div class="row" >
    <div class="col-sm-8" style="margin:0 auto;">
      <div class="card">
        <div class="card-body">
          <h5>Please Show this ticket for entry..</h5>
          <br>
          <center>
            <img src="<%- qr_url %> " alt="QR_Code" style="width: 70%;">
          </center>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
